.encabezado{
    z-index: 1;
}

.logosheader{
    display: none;
}

.carousel-inner{
    text-shadow: 2px 2px 2px  black;
    border-radius: 150px;
    border:1px solid black;
}

.container{
    margin-top: 50px;
}

.titulos{
    display: flex;
    margin-bottom: 30px;
}


.card{
    width: 180px;
    display: flex;
    margin-left: auto;
    margin-bottom: 20px;
    padding-bottom: 20px;
    box-shadow: 2px 4px 5px black;
}

.card:hover{
    transform: scale(1.03);
}

#image{
    max-width: 100%;
    width: 200px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top:10px;
    cursor: pointer;
}

.row{
    text-align:center;
    font-size: auto;
}

.piePag{
    background-color: rgb(241, 242, 243);
    padding:20px;
    text-align: right;
}

.piePag strong{
    color: rgb(17, 91, 177);
}

/*agregando estilo para que no se vea vacia la navbar en pantalla completa*/
@media (min-width: 1024px){

    .logosheader{
       display: inline-flex;
       margin-right: 10px;
    } 

    .logosheader img{
        margin-left: 10px;
    }
}